

.section1 {
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -1;
  color:white;
}

.section2 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.normalButton{
  font-weight: 100;
  background-color:#d0ba1c;
  color: black;
  border-radius: 20px;
  border-color:d0ba1c;
  border-width: 10px;
  cursor:pointer;
  font-family: cursive;
  font-weight: bold;
}
h4{
  font-size: 20px;
  font-weight: bold;

}
p{
  font-size: 15px;
  font-weight: bold;

}
button:disabled {
  background-color: #d6d6d6;
  color: #a0a0a0;
  cursor: not-allowed;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  font-family:cursive;
  background-repeat: no-repeat;
  background-size: cover;
}

button:hover{
  background-color: gainsboro;
}
